
// pickdate
.pickdate-header {
	position: relative;
	height: 48px;
	background: #fff;
	line-height: 48px;
	border-bottom: 1px solid #D5D4D9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pickdate-title {
	text-align: center;
	font-size: 14px;
	color: #252525;
}

.pickdate-prev,
.pickdate-next {
	position: absolute;
	top: 0;
	width: 30px;
	color: #999;
}

.pickdate-prev.active,
.pickdate-next.active {
	color: #0090F1;
	cursor: pointer;
}

.pickdate-prev {
	left: 30px;
}

.pickdate-next {
	right: 30px;
	text-align: right;
}

.pickdate-controls {
	padding: 10px 10px 20px 10px;
	text-align: center;
	background-color: #F4F3F8;
}

.pickdate-weeks {
	color: #767676;

	span {
		display: inline-block;
		width: 14.285714285714285%;
		height: 35px;
		line-height: 35px;
	}

	.weekend {
		color: #F67231;
	}

}

.pickdate-main {
	border-top: 1px solid #E1E0E5;
	border-left: 1px solid #E1E0E5;

	li {
		float: left;
		width: 14.285714285714285%;

		a {
			display: block;
			padding: 10px 0;
			border-right: 1px solid #E1E0E5;
			border-bottom: 1px solid #E1E0E5;
			color: #3E3E3E;
			font-size: 16px;
			// font-weight: bold;
			line-height: 24px;
		}

		.pickdate-before,
		.pickdate-unable {
			color: #CCCCCC;
		}

		.pickdate-available {
			cursor: pointer;
		}

		.pickdate-active {
			box-shadow: inset 0 0 5px #0076EC;
			background: #0090F1;
			color: #fff;
		}

	}

}
