@media screen and (min-width: 350px){
    .item-option{
        margin-left: 15px;
        padding-left: 15px;
    }
    .item-li{
        float: left;
        line-height: 35px;
        margin-right: 5px;
    }
}
